main{
  
}

#advertisement{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color: #fff;
    border: 1px solid #0000002b;
    
}

#sidebar{
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: #e7e9eb;
  direction: rtl;
  overflow-y: scroll;
  height:628px;
  font-family: "Pinar-Medium";
  position: fixed;
  z-index: 1;
  
}
#sidebar p{
  font-size: 21px;
  padding-right: 1rem;
}
#sidebar a{
  font-size: 14px;
  text-decoration: none;
  height: 1.7rem;
  display: flex;
  padding-right: 1rem;
  align-items: center;
  color: black;
}
#sidebar a:hover{
  background-color: rgb(169, 169, 169);
}


#sidebar a.active {
  background-color: #04AA6D;  
  color: white;
}

main{
  
  background-color: #04AA6D;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Pinar-Medium";
}
#main-content{
  width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 230px;
  
}
#advertisement-banner{
  width: 100%;
  height: 5rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

#title{
  width: 100%;
    display: flex
;
    gap: 41rem;
    direction: rtl;
    flex-direction: row;
    align-items: center;
    margin-right: 5rem;
}

#title p{
  font-size: 36px;
  font-family: "Pinar-SemiBold.woff2";

}
#title img{
  height: 28px;
  width: 28px;
}
#btns{
      display: flex;
    gap: 49rem;
    justify-content: space-around;
}
.btn{
  height: 3rem;
    width: 6rem;
    background-color: #04AA6D;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-family: "Pinar-Medium";
}
.btn:hover{
  background-color: #009861;
}
hr{
  width: 95%;
  opacity: 20%;
  margin: 2rem 0 2rem 0;
}
#learn{
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-right: 5rem;
}
#title{
  font-size: 28px;
  
}
#course{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.course-box{
  height: 14rem;
  width: 30rem;
  background-color: #e6f6f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: center;
  align-items: center;
}
#purp{
  background-color: #f4effe;

}
#purp button{
  background-color: #9763f6;
}
.course-box p{
  font-size: 14px;
  text-align-last: center;
}
#course-title{
  font-size: 18px;
}
.course-btn{
    height: 2.5rem;
    width: 8rem;
    background-color: #04AA6D;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    font-family: "Pinar-Medium";
}

#lessons{
    direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-right: 5rem;
}

.example{
    width: 95%;
    background-color: #e7e9eb;
    height: 25rem;
    margin-bottom: 5rem;
    align-items: flex-end;
    border-radius: 5px;
    display: flex
;
    justify-content: center;
    flex-direction: column;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.code-example {
  width: 95%;
  background-color: white;    
  border-right: 4px solid rgb(0, 169, 0);
  padding: 10px;               
  margin: 15px 0;              
  font-family: Consolas, "Courier New", monospace; 
  font-size: 14px;
  overflow-x: auto;            
  
}
code{
  text-align: left;
}

.example button{
  width: 10rem;
}
.example p{
  font-size: 21px;
}



