    @font-face{
        font-family: "Pinar-Medium";
        src: url(fonts/Pinar-Medium.woff2);
    }
    @font-face{
        font-family: "Pinar-ExtraBold";
        src: url(fonts/Pinar-DS3-ExtraBold.woff2);
    }

    @font-face{
        font-family: "Pinar-SemiBold.woff2";
        src: url(fonts/Pinar-SemiBold.woff2);
    }

    body{
        margin: auto;
        margin-top: 5rem;
        background-color: #fff;
    }
    
header {
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: "Pinar-SemiBold.woff2";
  font-size: 14px;
  height: 50px;   
  width: 100%;
  position: fixed;  
  z-index: 1000;  
  
}


    #headerSegment{
        display: flex;
        align-items: center;
    }


.logo img {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.5rem;
}


.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 80px;
  justify-content: center;
  
}
.menu ul li:hover{
  background-color: #04aa6d;
  color: #fff;
}

.menu ul li img {
  height: 8px;
  width: 8px;
  margin: 0.5rem;
}


.search {
  display: flex;
  align-items: center;
  
  flex: 1; 
}

#search {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 40%;
  height: 2.5rem;
  direction: rtl;
  font-size: 12px;
  font-family: "Pinar-SemiBold.woff2";
  background-image: url('images/svgexport-1.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

#search:focus {
  outline: none;
  border: 3px solid #04aa6d;
}

#options {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem;
}

#options:hover {
  background-color: rgba(105, 105, 105, 0.104);
}

#options img {
  height: 1.7rem;
  width: 1.7rem;
}
   
    
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
ul img{
  height: 8px;
  width: 8px;
}




.items {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

#item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  direction: rtl;
  font-size: 12px;
  font-family: "Pinar-SemiBold.woff2";
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  gap: 1rem;
}

#item img {
  height: 1.2rem;
  width: 1.2rem;
}


.signup {
  display: flex;
  align-items: center;
  margin-left: 1rem; 
}

#signup-btn {
  height: 2.5rem;
  width: 6rem;
  border-radius: 10px;
  background-color: #04aa6d;
  border: 1px solid #04aa6d;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Pinar-SemiBold.woff2";
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 1rem;
}

#signup-btn:hover {
  background-color: #007c4e;
}

.courses-bar {
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;   
  background-color: #282A35; 
  height: 2rem;
  margin-bottom: 4rem;
  
  width: 100%;
  position: fixed;  
  margin-top: 3rem;  
  height: 2rem;
}

.courses-bar a {
  color: white;
  text-decoration: none;
  margin: 0 10.5px 0 0;
  font-size: 13px;
  font-family: "Pinar-SemiBold.woff2";
  white-space: nowrap; 
  padding: 6px 10px;
  
}

.courses-bar a:hover {
  background-color: #1f1f22; 
}

.courses-bar a.active {
  background-color: #04aa6d;  
  color: white;
  
}








/* footer styles */

.footer {
  background-color: #282A35;
  color: #ddd;
  font-size: 14px;
  padding: 40px 20px;
  position: relative; 
  z-index: 9999;
}
a{
  font-family: "Pinar-Medium";
}

.footer-top {
  display: flex;
      gap: 4rem;
;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: row-reverse;
}
.footer-menu{
      display: flex
;
    justify-content: center;
    align-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6rem;
}

.footer-logo img {
  width: 80px;
}

.footer-menu a {
  margin: 0 10px;
  color: #FFD43B;
  text-decoration: none;
  font-weight: bold;
  font-family: "Pinar-SemiBold.woff2";
}
.footer-menu a:hover {
  color: #fff;
}

.footer-links {
  display: grid
;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    justify-items: center;
    align-items: center;
}
.footer-column{
  direction: rtl;
}

.footer-column h3 {
  margin-bottom: 10px;
  color: #fff;
  font-family: "Pinar-SemiBold.woff2";
}

.footer-column a {
  display: block;
  color: #ddd;
  margin: 4px 0;
  text-decoration: none;
  direction: rtl !important;
}
.footer-column a:hover {
  color: #fff;
}

.footer-social {
  text-align: center;
  margin-bottom: 20px;
}
.footer-social a {
  margin: 0 8px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.footer-social a:hover {
  color: #FFD43B;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
.footer-bottom a {
  color: #FFD43B;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
